body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    box-sizing: content-box;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #007bff;
}

main p {
    font-size: 1.2em;
    margin: 20px 0;
}

#location {
    font-size: 2rem;
    font-weight: bold;
}

.success {
    color: #28a745;
}

.error {
    color: #dc3545;
}

.login-container {
    padding: 20px;
    width: 300px;
}

.login-container h2 {
    margin: 0 0 20px;
    font-size: 1.5em;
    color: #007bff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: large;
}

button.primary {
    background-color: #007bff;
}

button.danger {
    background-color: #dc3545;
}

button:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #007bff;
}